/*css for the header of the map*/
.bigHeader{
	/*Set width to go accross the whole screen*/
	width: inherit;
	height: 100px;
	position: fixed;
	/*Here I use flexbox to get everything to be ordered horizontally*/
	display: flex;

	/*this is just a nice colour combo :)*/
	background-color: #352d2f;
}
.logo{
	height: 100px;
	position: relative;
}
nav{
	width: 1120px;
}
ul {
	list-style-type: none;
	margin: 0;
	/*this extra margin is just to ensure the nav bar contents are centered*/
	margin-top: 20px;
	padding: 20px;
	/*This allows scrolling in the event that the bar is too big*/
}
li {
	float: right;
}
li a {
	text-decoration: none;
	margin-right: 60px;
	padding: 20px 50px;
	text-align: center;
	color: white;
	/*border-radius here just rounds the corners of these nav bar links*/
	border-radius: 25px;
	border: solid 2px blue;
}
li a:hover{
  background-color: blue;
  color: white;
}