/*divs.css*/
/*
	This file contains all the styles for
	positioning and styling the smaller divs.
*/
/*
	Should consider using this darkgreen 093824
	and lightgreen C6CCB2 along with white as a
	colour palette since that matches the map more.
*/
/*
	Should also consider using more direct names for
	tags instead of .AQ for everything. This makes it so
	we'll have less copying to do in the future when we 
	copy the styles here to future divs.
*/

.AQ{
	text-align: center;
	position: fixed;
	left: 695px;
	top: 250px;
	width: 20px;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serrif;
	background-color: blue;
	/*Curve borders into a circle.*/
	border-radius: 25px;
	/*a really complicated way to add a shadow*/
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}
.AQ button {
	color: white;
	background: none;
	border: none;
	text-decoration: none;
}
.AQ button:hover{
	cursor: pointer;
}
.AQ div{
	display: none;
}
.AQ:hover{
	padding: 8px;
	width: 70px;
	height: 150px;
	cursor: default;
	border-radius: 10px;
	background-color: white;
}
.AQ:hover div{
	display: block;
	width: 60px;
	position: relative;
	top: -30px;
	left: 5px;
}
.AQ:hover div h6{
	position: relative;
	left: -4px;
}
.AQ:hover div button{
	padding: 5px;
	background-color: blue;
	font-family: inherit;
	border-radius: 10px;
}
.AQ:hover div button:hover{
	background-color: white;
	border: blue 2px solid;
	color: black;
}
